#button1 {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#box-holder {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.box-holderr {
  width: 700px !important;
  grid-template-columns: repeat(4, 1fr) !important;
}

@media only screen and (min-width: 900px) {
  #box-holder {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 1060px) {
  #box-holder {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (min-width: 1220px) {
  #box-holder {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (min-width: 1380px) {
  #box-holder {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (min-width: 1540px) {
  #box-holder {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media only screen and (min-width: 1700px) {
  #box-holder {
    grid-template-columns: repeat(10, 1fr);
  }
}

.box {
  position: relative;
  color: white;
  background-color: black;
  border-style: solid;
  height: 280px;
  width: 150px;
}

.box p {
  /* aici trebuie niste stiluri */
  font-size: large;
}

.box img {
  height: auto;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

body {
  background-image: url("./../assets/background.jpg");
}
